.contour p{
    border-bottom: 1px black dashed;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: large;
}
.page{
    border: 1px solid black;
    margin-top: 15px;
    padding-bottom: 100px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
}

span{
    padding-right: 90px;
}